@import "tailwindcss";

:root {
  --background: #fff9fb;
  --foreground: #2c2c2c;
  --accent: #e07a9a;
  --header-bg: #ffd6e8;
  --header-text: #b21f4b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2c2c;
    --foreground: #f5f5f5;
    --accent: #ff9ebb;
    --header-bg: #3d3d3d;
    --header-text: #ff7597;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Georgia", "Times New Roman", serif; 
  line-height: 1.7;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
*::-webkit-scrollbar {
    width: 8px;             /* ширина скролла */
}

*::-webkit-scrollbar-track {
    background: var(--header-bg);  /* фон трека */
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--header-text);  /* ползунок */
    border-radius: 4px;
}


audio::-webkit-media-slider-container{
    color: red;
    background: var(--header-bg);
}

@keyframes marquee-loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee-loop {
    display: flex;
    white-space: nowrap;
    animation: marquee-loop 12s linear infinite;
    width: max-content;
}

.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9000;
    background: transparent;
}

.snowflake {
    position: absolute;
    top: -20px;
    color: white;
    opacity: 0.8;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
}

/* Ключевая анимация с качанием */
@keyframes fall {
    0% {
        transform: translateY(-20vh) translateX(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh)
        translateX(var(--swing))
        rotate(360deg);
    }
}

/* Немного разной скорости и прозрачности для глубины */
.snowflake:nth-child(5n+1) { opacity: 0.5; }
.snowflake:nth-child(5n+2) { opacity: 0.7; }
.snowflake:nth-child(5n+3) { opacity: 0.9; }

@media (max-width: 1024px) and (orientation: portrait) {
    .portrait-only {
        display: flex;
    }
    .landscape-only {
        display: none;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .portrait-only {
        display: none;
    }
    .landscape-only {
        display: block;
    }
}

/* По умолчанию (ноутбуки, десктопы) */
.portrait-only {
    display: none;
}
.landscape-only {
    display: block;
}
